@media (max-width: 400px) {

    .fields__item,
    .settings__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 5px;
    }

    .wrapper {
        width: 90vw;
        height: auto;
        overflow: auto;
    }

    .fields {
        margin-top: 10px;
    }
}

@media (max-width: 400px) and (max-height: 470px){
    .wrapper {
        width: 90vw;
        height: 90vh;
        overflow: auto;
    }
}