.wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper header nav {
    display: flex;
    gap: 10px;
}

.feedback_header,
.feedback_row {
    display: grid;
    grid-template-columns: 20px 80px 1fr 1fr 1fr 1fr 3fr repeat(5, 40px);
    gap: 15px;
}

.feedback_row {
    background-color: var(--color_background-4_white);
    max-height: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.feedback_header p,
.feedback_row p {
    padding: 5px;
}

.feedback_row:has(.onHover:hover) {
    max-height: none;
    overflow: visible;
}

.feedback_header {
    position: sticky;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
}


.feedback_header p:nth-child(11),
.feedback_header p:nth-child(10),
.feedback_header p:nth-child(9),
.feedback_header p:nth-child(8) {
    writing-mode: vertical-lr;
    align-self: start;
}

.feedback_wrapper-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.feedback_row nav {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px 0;
}

.feedback_row span{display: none;}

.checkbox-btn {
    background-color: var(--color_background-2_white);
    box-shadow: 0px 0px 0px 2px inset var(--color_accent_darkBlue);
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
}

.checkbox-btn:has(input:checked) {
    background-color: var(--color_accent_darkBlue);
    box-shadow:
        0px 0px 0px 2px inset var(--color_accent_darkBlue),
        0px 0px 0px 5px inset var(--color_background-2_white);
}

.checkbox-btn input[type='checkbox'] {
    display: none;
}




/* ФИЛЬТРЫ */
/* Настройка фильтров */
.filtres-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.filtres-wrapper button {
    z-index: 5;
}

.filtres-wrapper .likeButton {
    margin-right: 10px;
    padding: 3px;
    opacity: 0.7;
    transition-duration: 0.3s;
}

.filtres {
    transition-property: 0.5s;
    z-index: 2;

    position: absolute;
    background-color: var(--color_background-4_white);
    box-shadow: 0 0 3px var(--color_accent_darkBlue);
    color: var(--color_accent_darkBlue);
    display: flex;
    flex-direction: column;

    right: 0;
    top: 100%;
    transform: translateY(5px);

    border-radius: 10px 0 10px 10px;
    overflow: hidden;
    width: 30vw;
    height: auto;
}

.filtres input[type="submit"] {
    border-radius: 0 0 10px 10px;
}

.filtres__item {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color_background-2_white);
    border-radius: 10px;
    margin: 5px;
}

#filter3,
#filter4 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
}

/* Настройка анимации в блоке фильтров */
.filterBtn-enter-active,
.filterBtn-leave-active,
.filterForm-enter-active,
.filterForm-leave-active {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.filterBtn-enter-from,
.filterBtn-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.filterForm-enter-from,
.filterForm-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}