.menteeCard {
    position: fixed;
    z-index: 100;

    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--color_background-5_grayTransparent);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    gap: 10px;
}

.fields{
    overflow: auto;
}

.fields__item {
    display: flex;
    gap: 10px;
    height: 60vh;
    width: 60vw;
}

.fields__item-left,
.fields__item-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fields__item-right {
    flex-grow: 1;
}

.fields__item-left>div,
.fields__item-right>div {
    padding: 10px;
    background-color: var(--color_background-3_white);
    border-radius: 10px;
}

.avatar {
    grid-area: avatar;
    padding: 0 !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
}

.avatar img {
    border-radius: 10px;
    width: 15vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.fio {
    grid-area: fio;
}

.status {
    grid-area: status;
    flex-grow: 1;
}

.general {
    grid-area: general;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.marker {
    text-indent: 20px;
    position: relative;
    margin-bottom: 5px;
}

.marker::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background-color: var(--color_accent_lightBlue);
}

.bold {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

.general span {
    color: var(--color_accent_lightBlue);
}

.feedback_box {
    background-color: var(--color_background-2_white);
    padding: 10px;
    border-radius: 10px;
}