.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.users__item {
    border-radius: 10px;
    border: 1px solid var(--color_accent_gray);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    align-items: center;
    gap: 20px;
    word-break: break-all;
}

.users__item nav {
    justify-self: end;
    gap: 5px;
    display: flex;
}

.wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}